<%- include("header") -%>

<h1 id="heading"><%= _listTitle %></h1>

<div class="box">
  <% _addToDoArr.forEach(element => { %>
  <form action="/delete/<%= element._id %> " method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" onchange="this.form.submit()" />
      <p><%= element.name %></p>
    </div>
  </form>

  <% }) %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      placeholder="New Item"
      name="toDoItem"
      autocomplete="off"
    />
    <button type="submit" name="list" value=<%=_listTitle%> >+</button>
  </form>
</div>

<%- include("footer") -%>
