<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= _homeStartingContent %></p>
<% _posts.forEach(post => { %>
<a href="/post/<%= post.title %>">
  <h1><%= post.title %></h1>
  <div>
    <p
      class="text-truncate"
      style="
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      "
    >
      <%= post.content %>
    </p>
  </div>
</a>

<% }) %> <%- include("partials/footer") -%>
