<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= _homeStartingContent %></p>
<% _posts.forEach(post => { %>

<h1><%= post.title %></h1>

<p>
  <%= post.content.substring(0,150) %> ...
  <a href="/post/<%= post.urlParameter %>">Read More</a>
</p>

<% }) %> <%- include("partials/footer") -%>
